<!doctype html>
<html lang="en">
  <head-content/>
  <body>
    <noscript>
        Please enable Javascript for better experience
    </noscript>
    <navbar username=input.username/>
    <div id="app-root">
        <div class="container my-12 mx-auto px-1 md:px-10">
            <div class="flex flex-wrap items-center ">
                <add-form/>
            </div>
        </div>
    </div>
    <lasso-body/>
  </body>
</html>
