<!doctype html>
<html lang="en">
  <head-content/>
  <body>
    <noscript>Please enable Javascript for better experience</noscript>
    <navbar username=input.username/>
    <div id="app-root" class="py-4">
      <div class="px-4">
        
        <event-row events=input.events/>

      </div>
    </div>
    <lasso-body/>
  </body>
</html>
