<!doctype html>
<html lang="en">
  <head-content/>
  <body>
    <noscript>Please enable Javascript for better experience</noscript>
    <navbar/>
    <div id="app-root">
      <event-list-page/>
    </div>
    <main-footer />
    <lasso-body/>
  </body>
</html>
