<!doctype html>
<html lang="en">
  <head-content/>
  <body>
    <noscript>Please enable Javascript for better experience</noscript>
    <navbar username=input.username/>
    <div id="app-root">
      <event-detail data=input/>
    </div>
    <lasso-body/>
  </body>
</html>
