<!doctype html>
<html lang="en">
  <head-content/>
  <body class="antialiased font-sans">
    <noscript>Please enable Javascript for better experience</noscript>
    <navbar username=input.username allowAdd=input.allowAdd/>
    <div class="container mx-auto px-4 sm:px-8">
        <dashboard-business tabs=input.tabs highlight=input.highlight/>
        <people-joined-event data=input.linkData/>
    </div>
    <lasso-body/>
  </body>  
</html>