body {
    background: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
}

.history-box {
    box-shadow: 0px 3px 15px rgb(215, 226, 240);
}

.next-trip-box {
    box-shadow: 0px 3px 15px rgb(215, 226, 240);
}

.upcoming-trips {
    box-shadow: 0px 3px 15px rgb(215, 226, 240);
}