<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Simple example for Marko js</title>
    </head>
    

    <body>
        
        hello world ...

        you have ${data.count} count.

        
    </body>
</html>