<lasso-page name="index" package-path="./browser.json"/>
<!doctype html>
<html lang="en">
  <head-content/>
  <body>
    <noscript>Please enable Javascript for better experience</noscript>
    <navbar username=input.username/>
    <div id="app-root">
      <landing-page class="h-full"/>
    </div>
    <main-footer />
    <lasso-body/>
  </body>
</html>
