class {   
    onMount(){
        let script = document.createElement('script');
        script.src = "/js/socket.io.js";
        script.type = "text/javascript";
        document.getElementsByTagName('head')[0].appendChild(script);

        script = document.createElement('script');
        script.src = "/js/socket.event.js";
        script.type = "text/javascript";
        document.getElementsByTagName('head')[0].appendChild(script);
    }
}

<div>
    
</div>
    