class {   
    onMount(){
        let scriptLoader = (path) => {
            let script = document.createElement('script');
            script.src = path;
            script.type = "text/javascript";
            document.getElementsByTagName('head')[0].appendChild(script);
        }
        
        
    }
}

<div>
    
</div>
    