class {   
    onMount(){
        let scriptLoader = (path) => {
            let script = document.createElement('script');
            script.src = path;
            script.type = "text/javascript";
            document.getElementsByTagName('head')[0].appendChild(script);
        }
        

        scriptLoader("/js/socket.io.js");
        scriptLoader("/js/socket.event.js")
    }
}

<div>
    
</div>
    