<for|item| of=input.data>

<tr>
    <for|eachValues| of=Object.values(item)>
    <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
        <p class="text-gray-900 whitespace-no-wrap">
            ${eachValues}        
        </p>
    </td>
    </for> 
    <if(input.actions.length > 0)>
        <dashboard-action-button actions=input.actions/>
    </if>
</tr>

</for>