body {
    background: #f5f5f5;
}

.event-card {
    transition: 0.1s;
    box-shadow: 0px 3px 15px rgb(215, 226, 240);
}

.event-card:hover {
    box-shadow: 0px 3px 15px rgb(181, 190, 202);
}

.event-card .join {
    background: #01b14f;
}

.event-card__bottom-layer {
    transition: 0.2s;
}