<div class="events">
  <main-container>
    <h1 class="text-center text-4xl md:text-5xl font-bold mb-6">Events</h1>
    <div class="flex flex-wrap pb-12">
      <div class="w-full mb-12">
        <event-card/>
      </div>
      <div class="w-full mb-12">
        <event-card/>
      </div>
      <div class="w-full mb-12">
        <event-card/>
      </div>
    </div>
  </main-container>
</div>
