<!doctype html>
<html lang="en">
  <head-content/>
  <body class="antialiased font-sans">
    <noscript>Please enable Javascript for better experience</noscript>
    <navbar username=input.username allowAdd=input.allowAdd/>

    <div class="container mx-auto px-4 sm:px-8">
        <if(input.link == "created")>
            <div>Hey there</div>
        </if>
        <else-if(input.link == "request")>
            <business-volunteer-request/>
        </else-if>
        <else>
            <div>What's up?</div>
        </else>
    </div>
    <lasso-body/>
  </body>  
</html>