<!doctype html>
<html lang="en">
  <head-content/>
  <body class="antialiased font-sans">
    <noscript>Please enable Javascript for better experience</noscript>
    <navbar username=input.username allowAdd=input.allowAdd/>
    <div class="container mx-auto px-4 sm:px-8">
        <dashboard-business tabs=input.tabs highlight=input.highlight/>
        <if(input.link == "created")>
            <business-event-created data=input.linkData/>
        </if>
        <else-if(input.link == "request")>
            <business-volunteer-request data=input.linkData/>
        </else-if>
        <else>
            <business-event-joined data=input.linkData/>
        </else>
    </div>
    <lasso-body/>
  </body>  
</html>